@{
    ViewBag.Title = "Index";
}
<script>

    /******************************************************************************
    ***   COPY PROTECTED BY http://chetangole.com/blog/wp-copyprotect/   version 3.1.0 ****
    ******************************************************************************/
    function disableSelection(target) {
        if (typeof target.onselectstart != "undefined") //For IE
            target.onselectstart = function() { return false }
        else if (typeof target.style.MozUserSelect != "undefined") //For Firefox
            target.style.MozUserSelect = "none"
        else //All other route (For Opera)
            target.onmousedown = function() { return false }
        target.style.cursor = "default"
    }
</script>
<div>
    <p>test P attribute</p>
</div>
<script>
    disableSelection(document.body);
</script>